<launch>
    <arg name="fake_transceiver" default="false" />
    <arg name="config_file_path" default="$(find hippolink_ros)/config/transceiver.yaml" />
    <arg name="vehicle_number" default="" />
    <group unless= $(arg fake_transceiver)>
        <node pkg="hippolink_ros" type="transceiver_node.py" name="hippolink" output="screen" clear_params="true">
            <rosparam command="load" file="$(arg config_file_path)" />
            <param unless="$(eval arg('vehicle_number') == '')" name="vehicle_number" value="$(arg vehicle_number)" />
        </node>

        <node pkg="hippolink_ros" type="rate_watcher_node.py" name="hippolink_rate" output="screen" />
    </group>
    <node if="$(arg fake_transceiver)" pkg="hippolink_ros" type="fake_transceiver_node.py" name="hippolink" output="screen" clear_params="true">
        <param unless="$(eval arg('vehicle_number') == '')" name="vehicle_number" value="$(arg vehicle_number)" />
    </node>
</launch>
